#!/usr/bin/env bash
{{ if not .isWSL }}
set -e

sudo add-apt-repository multiverse -y

echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
sudo apt install -y fontconfig ttf-mscorefonts-installer

jetbrains_font_name="JetBrainsMono Nerd Font"
jetbrains_installed=$(fc-list :family="$jetbrains_font_name")

if [[ -z "$jetbrains_installed" ]]; then
  ~/.local/bin/eget ryanoasis/nerd-fonts --to "~/.local/share/fonts/$jetbrains_font_name" -a JetBrainsMono.tar.xz -f 'JetBrainsMonoNerdFont-*.ttf' --all

  gsettings set org.gnome.desktop.interface monospace-font-name "$jetbrains_font_name 10"
fi

aptos_font_name="Aptos"
aptos_installed=$(fc-list :family="$aptos_font_name")

if [[ -z "$aptos_installed" ]]; then
  curl -o /tmp/Aptos.zip https://download.microsoft.com/download/8/6/0/860a94fa-7feb-44ef-ac79-c072d9113d69/Microsoft%20Aptos%20Fonts.zip
  unzip -qq -o -d "~/.local/share/fonts/$aptos_font_name" /tmp/Aptos.zip
  rm /tmp/Aptos.zip

  gsettings set org.gnome.desktop.interface font-name "$aptos_font_name 11"
  gsettings set org.gnome.desktop.interface document-font-name "$aptos_font_name 11"
fi

fc-cache -f
{{ end }}
