#!/usr/bin/env bash
{{ if not .isWSL }}
set -e

sudo add-apt-repository multiverse -y

echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
sudo apt install -y fontconfig ttf-mscorefonts-installer

font_name="JetBrainsMono Nerd Font"
is_font_installed=$(fc-list :family="$font_name")

if [[ -z "$is_font_installed" ]]; then
  ~/.local/bin/eget ryanoasis/nerd-fonts --to "~/.local/share/fonts/$font_name" -a JetBrainsMono.tar.xz -f 'JetBrainsMonoNerdFont-*.ttf' --all

  fc-cache -f

  gsettings set org.gnome.desktop.interface monospace-font-name "$font_name 10"
fi
{{ end }}
