#!/usr/bin/env bash
{{ if not .isWSL }}
set -e

sudo apt install -y gnome-shell-extension-manager pipx
pipx install gnome-extensions-cli --system-site-packages

# Turn off default Ubuntu extensions
gnome-extensions disable tiling-assistant@ubuntu.com
gnome-extensions disable ubuntu-appindicators@ubuntu.com
gnome-extensions disable ubuntu-dock@ubuntu.com
gnome-extensions disable ding@rastersoft.com

# Install new extensions
~/.local/bin/gext install tactile@lundal.io
~/.local/bin/gext install blur-my-shell@aunetx
~/.local/bin/gext install space-bar@luchrioh
~/.local/bin/gext install window-thumbnails@G-dH.github.com
~/.local/bin/gext install aztaskbar@aztaskbar.gitlab.com
~/.local/bin/gext install undecorate@sun.wxg@gmail.com

~/.local/bin/eget hardpixel/unite-shell --to /tmp/unite.zip -a shell -a .zip -d
unzip -qq -o -d ~/.local/share/gnome-shell/extensions /tmp/unite.zip
rm /tmp/unite.zip

# Compile gsettings schemas in order to be able to set them
sudo cp ~/.local/share/gnome-shell/extensions/tactile@lundal.io/schemas/org.gnome.shell.extensions.tactile.gschema.xml /usr/share/glib-2.0/schemas/
sudo cp ~/.local/share/gnome-shell/extensions/blur-my-shell@aunetx/schemas/org.gnome.shell.extensions.blur-my-shell.gschema.xml /usr/share/glib-2.0/schemas/
sudo cp ~/.local/share/gnome-shell/extensions/space-bar@luchrioh/schemas/org.gnome.shell.extensions.space-bar.gschema.xml /usr/share/glib-2.0/schemas/
sudo cp ~/.local/share/gnome-shell/extensions/window-thumbnails@G-dH.github.com/schemas/org.gnome.shell.extensions.window-thumbnails.gschema.xml /usr/share/glib-2.0/schemas/
sudo cp ~/.local/share/gnome-shell/extensions/unite@hardpixel.eu/schemas/org.gnome.shell.extensions.unite.gschema.xml /usr/share/glib-2.0/schemas/
sudo cp ~/.local/share/gnome-shell/extensions/aztaskbar@aztaskbar.gitlab.com/schemas/org.gnome.shell.extensions.aztaskbar.gschema.xml /usr/share/glib-2.0/schemas/
sudo glib-compile-schemas /usr/share/glib-2.0/schemas/

# Configure Tactile
gsettings set org.gnome.shell.extensions.tactile col-0 1
gsettings set org.gnome.shell.extensions.tactile col-1 2
gsettings set org.gnome.shell.extensions.tactile col-2 1
gsettings set org.gnome.shell.extensions.tactile col-3 0
gsettings set org.gnome.shell.extensions.tactile row-0 1
gsettings set org.gnome.shell.extensions.tactile row-1 1
gsettings set org.gnome.shell.extensions.tactile gap-size 32

# Configure Blur My Shell
gsettings set org.gnome.shell.extensions.blur-my-shell.appfolder blur false
gsettings set org.gnome.shell.extensions.blur-my-shell.lockscreen blur false
gsettings set org.gnome.shell.extensions.blur-my-shell.screenshot blur false
gsettings set org.gnome.shell.extensions.blur-my-shell.window-list blur false
gsettings set org.gnome.shell.extensions.blur-my-shell.panel brightness 0.6
gsettings set org.gnome.shell.extensions.blur-my-shell.panel sigma 30
gsettings set org.gnome.shell.extensions.blur-my-shell.panel pipeline 'pipeline_default'
gsettings set org.gnome.shell.extensions.blur-my-shell.overview blur true
gsettings set org.gnome.shell.extensions.blur-my-shell.overview pipeline 'pipeline_default'
gsettings set org.gnome.shell.extensions.blur-my-shell.dash-to-dock blur true
gsettings set org.gnome.shell.extensions.blur-my-shell.dash-to-dock brightness 0.6
gsettings set org.gnome.shell.extensions.blur-my-shell.dash-to-dock sigma 30
gsettings set org.gnome.shell.extensions.blur-my-shell.dash-to-dock static-blur true
gsettings set org.gnome.shell.extensions.blur-my-shell.dash-to-dock style-dash-to-dock 0
gsettings set org.gnome.shell.extensions.blur-my-shell.applications blacklist "['Plank', 'com.desktop.ding', 'Conky', 'Ulauncher']"

# Configure Space Bar
gsettings set org.gnome.shell.extensions.space-bar.behavior smart-workspace-names false
gsettings set org.gnome.shell.extensions.space-bar.shortcuts enable-activate-workspace-shortcuts false
gsettings set org.gnome.shell.extensions.space-bar.shortcuts enable-move-to-workspace-shortcuts true
gsettings set org.gnome.shell.extensions.space-bar.shortcuts open-menu "@as []"
gsettings set org.gnome.shell.extensions.space-bar.behavior position-index 0

# Configure tweaks
gsettings set org.gnome.mutter center-new-windows true

# Configure Gnome Session Manager
gsettings set org.gnome.SessionManager auto-save-session true
gsettings set org.gnome.SessionManager auto-save-session-one-shot true

# Configure App Icons Taskbar
gsettings set org.gnome.shell.extensions.aztaskbar clock-position-in-panel 'RIGHT'
gsettings set org.gnome.shell.extensions.aztaskbar icon-size 20
gsettings set org.gnome.shell.extensions.aztaskbar main-panel-height '(false, 40)'
gsettings set org.gnome.shell.extensions.aztaskbar position-offset 5
gsettings set org.gnome.shell.extensions.aztaskbar show-panel-activities-button false
gsettings set org.gnome.shell.extensions.aztaskbar indicator-color-focused 'rgb(119, 100, 216)'
gsettings set org.gnome.shell.extensions.aztaskbar indicator-color-running 'rgba(204, 204, 204, 0.5)'

# Configure Unite
gsettings set org.gnome.shell.extensions.unite desktop-name-text 'Desktop'
gsettings set org.gnome.shell.extensions.unite extend-left-box false
gsettings set org.gnome.shell.extensions.unite hide-app-menu-icon false
gsettings set org.gnome.shell.extensions.unite restrict-to-primary-screen false
gsettings set org.gnome.shell.extensions.unite window-buttons-theme 'yaru'

# Configure Window Thumbnails
gsettings set org.gnome.shell.extensions.window-thumbnails create-tmb-shortcut "['<Super>f']"
gsettings set org.gnome.shell.extensions.window-thumbnails default-scale 25
gsettings set org.gnome.shell.extensions.window-thumbnails disable-meta-unredirection true
gsettings set org.gnome.shell.extensions.window-thumbnails hide-focused true
gsettings set org.gnome.shell.extensions.window-thumbnails position-custom false
gsettings set org.gnome.shell.extensions.window-thumbnails schema-migrated true
gsettings set org.gnome.shell.extensions.window-thumbnails mouse-hover-delay 2147483647

# Favorite apps for dock
apps=(
	"google-chrome.desktop"
	"org.gnome.Nautilus.desktop"
	"code.desktop"
	"org.wezfurlong.wezterm.desktop"
	"WhatsApp.desktop"
	"org.gnome.Settings.desktop"
	"org.gnome.Software.desktop"
)

# Array to hold installed favorite apps
installed_apps=()

# Directory where .desktop files are typically stored
desktop_dirs=(
	"/usr/share/applications"
	"/usr/local/share/applications"
	"$HOME/.local/share/applications"
	"/var/lib/flatpak/exports/share/applications"
	"$HOME/.local/share/flatpak/exports/share/applications"
)

# Check if a .desktop file exists for each app
for app in "${apps[@]}"; do
	for dir in "${desktop_dirs[@]}"; do
		if [ -f "$dir/$app" ]; then
			installed_apps+=("$app")
			break
		fi
	done
done

# Convert the array to a format suitable for gsettings
favorites_list=$(printf "'%s'," "${installed_apps[@]}")
favorites_list="[${favorites_list%,}]"

# Set the favorite apps
gsettings set org.gnome.shell favorite-apps "$favorites_list"

# Set theme
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
gsettings set org.gnome.desktop.interface cursor-theme 'Yaru'
gsettings set org.gnome.desktop.interface gtk-theme "Yaru-purple-dark"
gsettings set org.gnome.desktop.interface icon-theme "Yaru-purple"
{{ end }}
