#!/usr/bin/env bash

set -e

{{ if .install.nerves }}
sudo apt install -y automake autoconf squashfs-tools ssh-askpass pkg-config libmnl-dev libssl-dev libncurses5-dev bc m4 unzip zip cmake libtool mtools help2man libconfuse-dev libarchive-dev xdelta3 dosfstools cpio

if [[ ! -x "$(command -v fwup)" ]]; then
  ~/.local/bin/eget fwup-home/fwup --to /tmp/fwup.deb -a amd64 -a .deb
  sudo apt install -y /tmp/fwup.deb
  rm /tmp/fwup.deb
fi
{{ if .isWSL }}
sudo ln -sf /usr/bin/fwup /usr/bin/fwup.exe
{{ end }}
{{ end }}
