--write-subs
--sub-langs en,en-US,en-GB,en-CA
--convert-subs srt
--downloader aria2c
--downloader-args aria2c:'--min-split-size=1M --max-connection-per-server=16 --max-concurrent-downloads=16 --split=16'
-S "res:1080,vcodec:av1,ext,fps"
-o "%(playlist_title)s/%(playlist_index)s - %(title)s.%(ext)s"
-P {{ if .isWSL }}"$WIN_HOME/Downloads/YouTube"{{ else }}"~/Downloads/YouTube"{{ end }}
