--write-subs
--sub-langs en,en-US,en-GB,en-CA
--convert-subs srt
-S "res:720,ext,fps"
-o "%(playlist_title)s/%(playlist_index)s - %(title)s.%(ext)s"
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
-P "${WIN_HOME}/Downloads/YouTube"
{{   else }}
-P "{{ .chezmoi.homeDir }}/Downloads/YouTube"
{{   end }}
{{ end }}
