{{ $email := promptStringOnce . "email" "What is your email address" }}
{{ $nerves := promptBoolOnce . "nerves" "Should we install Nerves & it's dependencies" false }}

[data]
  email = {{ $email | quote }}
  installNerves = {{ $nerves }}

[diff]
  pager = "diff-so-fancy"
