[init]
  defaultBranch = main

[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential

[user]
  name = {{ .github.username }}
  email = {{ .github.email }}

[core]
  autocrlf = false
  eol = lf
  pager = delta
  attributesfile = {{ .chezmoi.homeDir }}/.gitattributes

[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[alias]
  fix-perm = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"
  co = checkout
  br = branch
  ci = commit
  st = status
  undo = reset --soft HEAD^
