#!/bin/bash

sudo apt update
sudo apt install -y --no-install-recommends build-essential curl git wget lsd bat python3 pipx

echo "$(which zsh)" | sudo tee -a /etc/shells
chsh -s "$(which zsh)"

export PATH="${HOME}/.local/bin:${PATH}"
