#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
echo "[boot]
systemd=true
[interop]
appendWindowsPath=false" | sudo tee /etc/wsl.conf > /dev/null

echo
echo -e "\e[1;93mUpdated '/etc/wsl.conf'. Please restart WSL for changes to take effect.\e[0m"
echo
{{   end }}
{{ end }}

sudo sysctl -w net.ipv4.ip_unprivileged_port_start=0

mkdir -p ~/.config/containers
> ~/.config/containers/registries.conf cat <<EOF
unqualified-search-registries=["docker.io"]

[aliases]
"library"="docker.io/library"
EOF

ln -s $(which podman) ~/.local/bin/docker

curl https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh | sh

git lfs install
