#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
cat << EOF | sudo tee /etc/wsl.conf
[boot]
systemd=true
command="mount --make-rshared /"

[interop]
appendWindowsPath=false
EOF

echo
echo -e "\e[1;93mUpdated '/etc/wsl.conf'. Please restart WSL for changes to take effect.\e[0m"
echo
{{   end }}
{{ end }}

sudo sysctl -w net.ipv4.ip_unprivileged_port_start=0

mkdir -p $HOME/.config/containers
cat << EOF | tee $HOME/.config/containers/registries.conf
unqualified-search-registries=["docker.io"]

[aliases]
"library"="docker.io/library"
EOF

ln -s $(which podman) $HOME/.local/bin/docker
