#!/bin/bash

if [[ ! -x "$(command -v mise)" ]]; then
  curl https://mise.run | sh
fi

$HOME/.local/bin/mise activate

KERL_BUILD_DOCS="yes"
KERL_INSTALL_HTMLDOCS="no"
KERL_INSTALL_MANPAGES="no"

# Install default programming languages
languages=(erlang elixir go bun node php rust sqlite)

for language in $languages; do
  mise use -g "$language@latest"
done
