#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
echo "[boot]
systemd=true
[interop]
appendWindowsPath=false" | sudo tee /etc/wsl.conf > /dev/null
{{   end }}
{{ end }}
