#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
WSL_DEPS="wslu trash-cli"
{{   else }}
WSL_DEPS=""
{{   end }}
{{ end }}

if [ ! -x "$(command -v gh)" ]; then
  curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | \
    sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg \
    && sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg \
    && echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | \
      sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
    && sudo apt update
fi

sudo apt install -y --no-install-recommends direnv fzf podman uidmap slirp4netns gh ffmpeg aria2 $WSL_DEPS

pipx install lastversion

DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker}

if [ ! -f "$DOCKER_CONFIG/cli-plugins/docker-compose" ]; then
  mkdir -p $DOCKER_CONFIG/cli-plugins
  $HOME/.local/bin/lastversion download docker/compose -y --format assets --filter linux-x86_64$ -o $DOCKER_CONFIG/cli-plugins/docker-compose \
    && chmod +x $DOCKER_CONFIG/cli-plugins/docker-compose
fi

if [ ! -x "$(command -v yt-dlp)" ]; then
  $HOME/.local/bin/lastversion download yt-dlp/yt-dlp -y --format assets --filter ^yt-dlp$ -o $HOME/.local/bin/yt-dlp \
    && chmod +x $HOME/.local/bin/yt-dlp
fi

if [ ! -x "$(command -v diff-so-fancy)" ]; then
  sudo $HOME/.local/bin/lastversion download so-fancy/diff-so-fancy --format assets --filter ^diff-so-fancy$ -o $HOME/.local/bin/diff-so-fancy \
    && chmod +x $HOME/.local/bin/diff-so-fancy
fi

if [ ! -f "$HOME/.fly/bin/flyctl" ]; then
  curl -L https://fly.io/install.sh | sh
fi

if [ ! -x "$(command -v micro)" ]; then
  curl -o $HOME/.local/bin/micro -L https://getmic.ro/r | sudo sh
  micro -plugin install filemanager
  micro -plugin install detectindent
fi
