#!/bin/bash

curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash

sudo apt update
sudo apt install -y --no-install-recommends build-essential curl git git-lfs wget lsd bat python3 pipx

echo "$(which zsh)" | sudo tee -a /etc/shells
chsh -s "$(which zsh)"
