export FLYCTL_INSTALL="~/.fly"

{{ if .isWSL }}
export WIN_HOME=$(wslpath "$(wslvar USERPROFILE)")
{{ end }}

export PATH="$FLYCTL_INSTALL/bin:~/.local/bin:$PATH{{ if .isWSL }}:/mnt/c/Windows/system32{{ end }}"
