[Desktop Entry]
Version=1.0
Name=Activity
Comment=System activity from btop
Exec=alacritty --config-file {{ .chezmoi.homeDir }}/.config/alacritty/btop.toml -e btop
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/Activity.png
Categories=GTK;
StartupNotify=false
