[Desktop Entry]
Version=1.0
Name=Docker
Comment=Manage Docker containers with LazyDocker
Exec=alacritty --config-file {{ .chezmoi.homeDir }}/.config/alacritty/pane.toml -e lazydocker
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/Docker.png
Categories=GTK;
StartupNotify=false
