[Desktop Entry]
Version=1.0
Name=Micro
GenericName=Text Editor
Comment=Edit text files in a terminal
Exec=alacritty --config-file {{ .chezmoi.homeDir }}/.config/alacritty/pane.toml -e micro %F
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/Micro.png
Categories=Utility;TextEditor;Development;
Keywords=text;editor;syntax;terminal;
StartupNotify=false
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
