"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    fontFamily: "Roboto Mono"
    lineHeight: 1.7
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "sourcegraph-atom"
      "terminal-status"
      "archive-view"
      "autocomplete-atom-api"
      "deprecation-cop"
      "dev-live-reload"
      "open-on-github"
      "link"
      "package-generator"
      "autoclose-html"
    ]
    themes: [
      "unity-ui"
      "atom-light-syntax"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "language-babel":
    transpileOnSave: false
    babelMapsAddUrl: false
    createTargetDirectories: false
  "unity-ui":
    showIcons: true
    colorStatusIndicatorsInTreeView: true
  "terminal-status": {}
  "project-manager": {}
  "tree-view": {}
  tabs:
    usePreviewTabs: true
  autosave:
    enabled: true
  "autoclose-html": {}
  "autocomplete-plus": {}
  react: {}
  "go-plus":
    goPath: "~/Code/go"
".html.php.text":
  editor:
    tabLength: 4
".go.source":
  editor:
    tabLength: 8
