if [[ ! -d ~/.config/ulauncher/user-themes/libadwaita-dark ]]; then
  mkdir -p ~/.config/ulauncher/user-themes
  git clone https://github.com/kareemkasem/ulauncher-theme-libadwaita-dark \
    ~/.config/ulauncher/user-themes/libadwaita-dark
fi

if ! dpkg -l | grep -q '^ii\s*ulauncher'; then
  sudo add-apt-repository universe -y
  sudo add-apt-repository ppa:agornostal/ulauncher -y
  sudo apt update
  sudo apt install -y ulauncher
  gtk-launch ulauncher.desktop >/dev/null 2>&1
fi
