flatpak install -y flathub org.wezfurlong.wezterm
alias wezterm || echo "alias wezterm='flatpak run org.wezfurlong.wezterm'" >> ~/.localrc
gsettings set org.gnome.desktop.default-applications.terminal exec wezterm
